= content_for :unobtrusive_javascript do
  %script{ 'type' => "text/javascript", :src   => "/javascripts/teams.js" }

%h1
  = h(@team.name.capitalize)
  - if current_user and current_user.owned_teams.include?(@team)
    = link_to "Edit", edit_team_url(@team), :class => "edit_team"

- if current_user.all_teams.include?(@team)
  #status
    =render :partial => "status", :collection => current_user.team_collegues(@team.id), :locals => { :previous_time => Time.now, :new_time => @team.last_time_a_member_was_updated }

