/*
Sass::SyntaxError: Undefined mixin 'container'.
on line 63 of /Users/neil/Development/Rails/Projects/busywith/app/stylesheets/base.sass

59:   :border-color= !dark_green
60:   :border-width 1px
61: 
62: #container
63:   +container
64:   :height auto !important
65:   :min-height 100%  
66:   
67: #content
68:   :padding-bottom 100px
69:   :margin-top 50px  


Backtrace:
/Users/neil/Development/Rails/Projects/busywith/app/stylesheets/base.sass:63
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/tree/mixin_node.rb:27:in `_perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/tree/node.rb:158:in `perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/tree/node.rb:202:in `perform_children'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/tree/node.rb:202:in `map'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/tree/node.rb:202:in `perform_children'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/tree/node.rb:193:in `perform!'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/tree/rule_node.rb:159:in `perform!'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/tree/node.rb:181:in `_perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/tree/node.rb:158:in `perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/tree/node.rb:202:in `perform_children'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/tree/node.rb:202:in `map'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/tree/node.rb:202:in `perform_children'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/tree/node.rb:193:in `perform!'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/tree/node.rb:181:in `_perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/tree/node.rb:158:in `perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/tree/node.rb:103:in `render'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/plugin.rb:96:in `update_stylesheet'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/plugin.rb:77:in `each'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/plugin.rb:77:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/plugin.rb:75:in `each'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/plugin.rb:75:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/plugin.rb:62:in `check_for_updates'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/lib/sass/plugin/rails.rb:18:in `process_without_compass'
/usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.17/lib/compass/app_integration/rails/action_controller.rb:7:in `process'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.4/lib/action_controller/base.rb:391:in `process'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.4/lib/action_controller/base.rb:386:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.4/lib/action_controller/routing/route_set.rb:437:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.4/lib/action_controller/dispatcher.rb:87:in `dispatch'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.4/lib/action_controller/dispatcher.rb:121:in `_call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.4/lib/action_controller/dispatcher.rb:130:in `build_middleware_stack'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/head.rb:9:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/head.rb:9:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/methodoverride.rb:24:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.4/lib/action_controller/params_parser.rb:15:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.4/lib/action_controller/session/abstract_store.rb:122:in `call'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-2.3.4/lib/active_record/query_cache.rb:29:in `call'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-2.3.4/lib/active_record/connection_adapters/abstract/query_cache.rb:34:in `cache'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-2.3.4/lib/active_record/query_cache.rb:9:in `cache'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-2.3.4/lib/active_record/query_cache.rb:28:in `call'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-2.3.4/lib/active_record/connection_adapters/abstract/connection_pool.rb:361:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.4/lib/action_controller/failsafe.rb:26:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/lock.rb:11:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/lock.rb:11:in `synchronize'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/lock.rb:11:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.4/lib/action_controller/dispatcher.rb:106:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/lint.rb:47:in `_call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/lint.rb:35:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.4/lib/action_controller/integration.rb:313:in `process'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.4/lib/action_controller/integration.rb:196:in `get'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.4/lib/action_controller/integration.rb:491:in `__send__'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.4/lib/action_controller/integration.rb:491:in `get'
/usr/local/lib/ruby/gems/1.8/gems/webrat-0.6.0/lib/webrat/adapters/rails.rb:54:in `send'
/usr/local/lib/ruby/gems/1.8/gems/webrat-0.6.0/lib/webrat/adapters/rails.rb:54:in `do_request'
/usr/local/lib/ruby/gems/1.8/gems/webrat-0.6.0/lib/webrat/adapters/rails.rb:23:in `get'
(__FORWARDABLE__):3:in `__send__'
(__FORWARDABLE__):3:in `get'
/usr/local/lib/ruby/gems/1.8/gems/webrat-0.6.0/lib/webrat/core/session.rb:281:in `send'
/usr/local/lib/ruby/gems/1.8/gems/webrat-0.6.0/lib/webrat/core/session.rb:281:in `process_request'
/usr/local/lib/ruby/gems/1.8/gems/webrat-0.6.0/lib/webrat/core/session.rb:122:in `request_page'
/usr/local/lib/ruby/gems/1.8/gems/webrat-0.6.0/lib/webrat/core/session.rb:220:in `visit'
(eval):2:in `visit'
./features/step_definitions/webrat_steps.rb:12
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/core_ext/instance_exec.rb:48:in `instance_exec'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/core_ext/instance_exec.rb:48:in `cucumber_instance_exec'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/core_ext/instance_exec.rb:69:in `cucumber_run_with_backtrace_filtering'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/core_ext/instance_exec.rb:36:in `cucumber_instance_exec'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/rb_support/rb_step_definition.rb:55:in `invoke'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/step_match.rb:24:in `invoke'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/step_invocation.rb:59:in `invoke'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/step_invocation.rb:38:in `accept'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/tree_walker.rb:115:in `visit_step'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/tree_walker.rb:180:in `broadcast'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/tree_walker.rb:114:in `visit_step'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/step_collection.rb:15:in `accept'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/step_collection.rb:14:in `each'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/step_collection.rb:14:in `accept'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/tree_walker.rb:109:in `visit_steps'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/tree_walker.rb:180:in `broadcast'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/tree_walker.rb:108:in `visit_steps'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/scenario.rb:47:in `accept'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/step_mother.rb:279:in `before_and_after'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/scenario.rb:45:in `accept'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/scenario.rb:100:in `with_visitor'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/scenario.rb:39:in `accept'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/tree_walker.rb:51:in `visit_feature_element'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/tree_walker.rb:180:in `broadcast'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/tree_walker.rb:50:in `visit_feature_element'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/feature.rb:25:in `accept'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/feature.rb:24:in `each'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/feature.rb:24:in `accept'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/tree_walker.rb:20:in `visit_feature'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/tree_walker.rb:180:in `broadcast'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/tree_walker.rb:19:in `visit_feature'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/features.rb:29:in `accept'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/features.rb:17:in `each'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/features.rb:17:in `each'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/features.rb:28:in `accept'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/tree_walker.rb:14:in `visit_features'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/tree_walker.rb:180:in `broadcast'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/ast/tree_walker.rb:13:in `visit_features'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/cli/main.rb:56:in `execute!'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/../lib/cucumber/cli/main.rb:24:in `execute'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.4.4/bin/cucumber:8
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Undefined mixin 'container'.\A on line 63 of /Users/neil/Development/Rails/Projects/busywith/app/stylesheets/base.sass\A \A 59:   :border-color= !dark_green\A 60:   :border-width 1px\A 61: \A 62: #container\A 63:   +container\A 64:   :height auto !important\A 65:   :min-height 100%  \A 66:   \A 67: #content\A 68:   :padding-bottom 100px\A 69:   :margin-top 50px  \A "; }
