<p>
Hello,
</p>
<p>
Someone (hopefully you) tried to get your password reset on busywith.com.
Don't worry if it wasn't you, I'm sure it was just someone playing a joke... anyway, if you ignore this email we won't change your password at all.
</p>
<p>
If you did want to change your password then just click the link below:
</p>
<p>
<%= @edit_password_reset_url %>
</p>
<p>
If the above URL doesn't work try copying and pasting it into your browser.
If you continue to have problem please feel free to contact us at support@busywith.com.
</p>