<p>
Hello <%= @user.full_name %>,
</p>

<p>
Welcome to <%= link_to "busywith.com", root_url %>!
Your username is: <%= @user.login %>
</p>
<p>
Have a great time!
</p>
<p>
-<%= link_to "busywith.com", root_url %>
</p>