
h1
  :font-size 2em

h2
  :font-size 1.2em
  
input.text, input.title, input[type="text"], input[type="password"]
  :margin 0em
  :padding 5px
  
input
  :border-style solid 
  :border-color black
  :border-width 1px

#container
  +container

#flash_notice
  +notice

#flash_error
  +error

  
#header
  +column(24)
  #navbar
    +float-right
    +horizontal-list
    :position absolute
    :top 1em
    :right 0px
  
#content
  +column(24, true)
  :padding-left 20px
  :padding-top 20px
  :padding-bottom 20px
  li
    :margin-left 5px
  h2
    :margin-bottom 0px
  :font-size 1.8em
  
  
.rss_feed
  +column(15)
  :float right
  
.errorExplanation
  +error
  p
    margin: 0 0 0.5em
  h2
    :font-size 1em
  li
    :font-size 0.8em

.fieldWithErrors
  input
    :background-color rgb(251, 227, 228)