!light_green = #C9D787
!dark_green = #7D8A2E
!light_pink = #FFC0A9
!dark_pink = #FF8598

.clearfix:after
  :content "."
  :display block
  :clear both
  :visibility hidden
  :line-height 0
  :height 0
.clearfix
  :display inline-block
/* Hides from IE-mac \*/
* html.clearfix
  :height 1%
.clearfix
  :display block
/* End hide from IE-mac */



html, body, #container
  :height 100%

body
  :font-family "Arial Rounded MT Bold", arial, verdana, sans-serif
  :font-size 1.6em
  
h1
  :font-size 1.5em

h2
  :font-size 1.2em

h3
  :font-size 1em
p
  :margin-bottom 1em
  
a:link
  :color= !dark_green
a:visited
  :color= !dark_green
  
div.hr_footer
  :height 15px
  :background= !light_green url("/images/footer.png") repeat-x scroll center top
  hr
    :display none
  
input.text, input.title, input[type="text"], input[type="password"]
  :margin 0em
  :padding 5px
  
input
  :border-style solid 
  :border-color= !dark_green
  :border-width 1px

#container
  +container
  :height auto !important
  :min-height 100%  
  
#content
  :padding-bottom 100px
  :margin-top 50px  

#footer
  :height 100px
  :position relative
  :margin-top -100px
  :clear both
  :font-size 85%
  :width 100%
  :text-align center
  :background= !light_green  
  a:link
    :color= !dark_green
  a:visited
    :color= !dark_green  

fieldset
  :margin 0
  :padding 0
  :border-style none
  ul
    :list-style none
    :margin 0
    :padding 0
  li
    :margin-bottom 0.5em
  label
    :float left
    :width 12em
    :text-align right
    :padding-right 1em
    :vertical-align text-bottom
  .submit
    :text-align right
    :margin-right 9em  

#flash_notice
  +notice

#flash_error
  +error
  

#navbar_container
  :width 100%
  :height 40px
  :background-color= !light_green
  :overflow hidden
  :margin-bottom 1em
  :position absolute

#navbar
  :font-family arial
  :font-size 2em
  :width 800px
  :margin 0 auto
  :position relative
  ul
    +horizontal-list
    li
      :width 100px
      a
        :display block      
        :text-indent -50000px
    li.busywith
      :background url('/images/button_busywith.png') no-repeat scroll
    li.blog
      :background url('/images/button_blog.png') no-repeat scroll      
    li.sign_up
      :background url('/images/button_sign_up.png') no-repeat scroll
    li.sign_in
      :background url('/images/button_sign_in.png') no-repeat scroll
    li.sign_out
      :background url('/images/button_sign_out.png') no-repeat scroll
    li.me
      :background url('/images/button_me.png') no-repeat scroll
    li.my_team
      :background url('/images/button_my_team.png') no-repeat scroll
      
.help
  :margin-top 1em
  :float left
  :border-style dashed
  :border-color = !dark_green
  :border-width 2px
  :background-color= !light_green
  :margin-left 1em
  :font-size 0.5em
  :width 200px
  :padding 0.5em
  li
    :margin-bottom 1em
  

.rss_feed
  +column(15)
  :float right
  
.errorExplanation
  +error
  :font-size 65%
  p
    margin: 0 0 0.5em


.fieldWithErrors
  input
    :background-color rgb(251, 227, 228)
    
.left
  :float left

.right
  :float right
  
.flash_message
  :margin-top 1em
  :font-size 85%
  
.subtitle
  :font-style oblique
  :font-size 85%

.image_button
  :border-style none
  :vertical-align middle
  :width 100px
  :height 40px

=green_box
  :float left
  :background-color= !light_green
  :padding 0.5em
  :border-style solid 
  :border-color = !dark_green
  :border-width 5px
  