!light_green = #C9D787
!dark_green = #7D8A2E

*
  :margin 0em

html, body, #wrapper
  :height 100%
  
a:link
  :color= !dark_green
a:visited
  :color= !dark_green
  
body
  :font-family "Arial Rounded MT Bold", "Arial"
  :margin 0em

img
  :border-style none

#navbar_container
  :width 100%
  :height 40px
  :background-color= !light_green
  :overflow hidden
  :margin 0em

#navbar
  :width 800px
  :margin 0 auto
  ul
    :margin 5px 0em
    :display block
    li
      :height 76.8px
      :display inline
      :float left
      :list-style-type none
      :padding-left 4px
      :padding-right 4px
      :white-space nowrap
      :width 100px
      a
        :height 76.8px
        :display block      
        :text-indent -50000px
    li.busywith
      :background url('/images/button_gloss_busywith.png') no-repeat scroll
    li.blog
      :background url('/images/button_gloss_blog.png') no-repeat scroll      
    li.contact_us
      :background url('/images/button_gloss_contact_us.png') no-repeat scroll      

#wrapper
  :min-height 100%
  :height auto !important
  :height 100%
  :position relative

#headlines
  :background #fff url(/images/bg_intro.png) repeat-x scroll 0 0
  :width 100%
  :text-align center
  h1, h2
    :margin 0em
    :padding-top 0.5em
    
#intro
  :margin 0 auto 1em
  :overflow hidden
  :padding-bottom 0em
  :width 60em

  
#screenshots
  :width 30em
  :float left
  img
    :margin 0.5em
    :border-style solid 
    :border-color = !dark_green
    :border-width 1px    
  
#bullets
  :float left
  :margin-left 1em
  :margin-bottom 1em
  :font-size 1.8em
  :width 15em
  ul
    :margin-top 1em
    :margin-bottom 2em
    li
      :margin-bottom 1em
      :text-align left
  #cta
    :text-align center
    p
      :margin-bottom 1.5em
    
  

#features_container
  :border-top 1px solid #999
  :background-color = !light_green
  :font-size 1.5em
  :width 100%

#features
  :width 850px
  :margin 0 auto
  :overflow hidden
  ul
    :margin 1em 0 0 0
    :padding 0
    :list-style-type none
    :overflow hidden
  li
    :list-style-type none
    :vertical-align text-top
    :display inline
    :float left
    :padding 0em 1em 1em 0em
    :width 400px
    :height 10em
    :font-size 75%
    :text-align justify
    :background-position 100 0
    :background-repeat no-repeat    
    h2
      :font-size 110%
      :margin-left 3.5em
      :margin-bottom 30px
      :margin-top 1em
    p
      :font-size 90%
      
#feature1
  :background-image url(/images/li_team.png)
#feature2
  :background-image url(/images/li_screen.png)
#feature3
  :background-image url(/images/li_updates.png)
#feature4
  :background-image url(/images/li_simple.png)
  
#flash_error
  :background #FBE3E4 none repeat scroll 0 0
  :border 2px solid #FBC2C4
  :color #8A1F11
  :margin-bottom 1em
  :padding 0.8em
  
#signup_container
  :background #fff url(/images/bg_intro.png) repeat-x scroll 0 0
  :width 100%
  :margin-top 0em
  :padding-top 4em
  :margin-bottom 2em
  :font-size 1.4em
  #logo
    :text-align center
    :margin-bottom 1em
  #signup
    :width 35em
    :margin 0 auto
    #email_form
      :height 3em
      :font-size 1.3em
      :width 25em
      :margin 1em auto
      :vertical-align baseline      
      input
        :font-size 0.7em
      .image_button
        :vertical-align text-bottom
        *:vertical-align text-bottom
        
  

#footer
  :margin 0em
  :height 4em
  :clear both
  :font-size 1em
  :text-align center
  :background-color= !light_green
  :border-top 1px solid #999
  :position relative
  
#thanks
  :float none
  :text-align center
  :font-size 2em
  
#contact_intro
  :width 50em
  :margin 0 auto
  :text-align center
  :margin-bottom 3em
  
#contact_box
  :margin 0 auto
  :width 25em
  :background #C9D787 none repeat scroll 0 0
  :border 2px solid #7D8A2E
  :color black
  :margin-bottom 2em
  :padding 0em
  :font-size 1.5em
  ul
    :margin 1em 0 0 1em
    :padding 0
    :list-style-type none
    :overflow hidden
  li
    :list-style-type none
    :padding 0em 0em 0em 2em
    :height 3em
    :width 25em
    :background-repeat no-repeat  
  #contact_email
    :background-image url(/images/email_32.png)
  #contact_blog
    :background-image url(/images/rss_32.png)
  #contact_facebook
    :background-image url(/images/facebook_32.png)
  #contact_twitter
    :background-image url(/images/twitter_32.png)  
#ps
  :font-size 0.8em
  :margin-left 5em
  :margin-bottom 1em