#contact_intro
  %img{:alt=>"busywith.com", :src=>"/images/busywith_logo_smaller.png"}
  %h2
    You can contact us using any of the ways below.
    %br
    We can't wait to hear from you!

#contact_box
  %ul
    %li{:id=>"contact_email"}
      Email us:
      %a{:href=>"mailto:info@busywith.com", :onClick=>"pageTracker._trackEvent('ContactUs', 'Email');"} info@busywith.com
    %li{:id=>"contact_blog"}
      Read our 
      %a{:href=>"http://blog.busywith.com", :onClick=>"pageTracker._trackEvent('ContactUs', 'Blog');"} blog
    %li{:id=>"contact_facebook"}
      You can find  
      %a{:href=>"http://www.facebook.com/pages/busywithcom/137708253431", :onClick=>"pageTracker._trackEvent('ContactUs', 'Facebook');"} busywith
      on facebook
    %li{:id=>"contact_twitter"}
      Make sure you 
      %a{:href=>"http://twitter.com/busywith", :onClick=>"pageTracker._trackEvent('ContactUs', 'Twitter');"} follow us
      on twitter too!
      
#ps
  * Thanks to Komodo Media for the lovely icons we used here.
  %div{"xmlns:cc"=>"http://creativecommons.org/ns#",:about=>"http://www.komodomedia.com/blog/2009/06/social-network-icon-pack/"}
    %a{:rel=>"cc:attributionURL",:property=>"cc:attributionName",:href=>"http://komodomedia.com"} Komodo Media, Rogie King
    ="/"
    %a{:rel=>"license",:href=>"http://creativecommons.org/licenses/by-sa/3.0/"} CC BY-SA 3.0