%h1
  Help!
  
%h2
  Here's some frequently asked questions about busywith, if there's anything else you wish to know you can contact 
  = link_to "support@busywith.com", "mailto:support@busywith.com"

#faqs  
  %ul
    %li
      %h1 What is busywith?
      %p
        Busywith is an extremely quick and simple way for everyone in a team to be able to keep track of what everyone else is doing. Once you've created a team and invited everyone into it that you'd like, then it becomes simply a case updating your current task to let everyone know what you're doing. It's static, with no annoying messages, but the information is available for you at a glance!
    %li
      %h1 Who is busywith for?
      %p
        Busywith is for anyone that works in a team, large or small. If you need to be able to see what the rest of your team are doing quickly and simply, then busywith is for you. All that it requires is that each member can access a computer to update their status (although other ways to update are in the works!).
    %li
      %h1 Who should be in the team?
      %p
        Anyone can be in your team, as long as they have an email address and can sign into the website then they can be in your team and you can see what they're working on as soon as they update the site.
    %li
      %h1 How do I remove someone from my team?
      %p
        If you click on the 'my team' button at the top of busywith.com then you'll see a list of everyone in your team. You can now click the 'remove' link to remove them. You can only remove someone from the team if you own it.
    %li
      %h1 How many teams can I have?
      %p
        At the moment busywith only supports you being a member of one team (either as an owner or a member).
    %li
      %h1 How many people can be in a team?
      %p
        At the moment there are no limits on the amount of people that can be in a team. However in the future the pricing structure will probably be based on the team's size.
    %li
      %h1 Why are there two different ways to sign in? What is the difference?
      %p
        Remembering different usernames and password is annoying and everyone either forgets their password or sets it to something very simple and secure. Busywith allows you to create an account using one of the other many possible accounts you might have. For example if you have a facebook account you can use that. Busywith never gets to see the password of your facebook account and will never post anything to it or use any of the information on there, don't worry.
