#intro
  Welcome to im busy with.com
  %br
  This will have some more information about the site including some nice screenshots.
  %br
  
#status
  Here we will have a list of statuses for the teams the user is a member of, as long as they're logged in.
  
  =render :partial => "status", :collection => current_user.collegues unless current_user.nil?