#welcome_terms
  %h1
    Busywith Customer Terms and Conditions
  %p
    By creating a user account you agree to be bound by the following terms and conditions (
    %b
      “Terms of Use”
    ). Please ensure that you read them before using Busywith. They are a legal agreement between Plasticwater Limited (Registered office at 2nd Floor, 145-157 St. John Street, London, EC1V 4PY. Registered number: 07160506 ) trading as Busywith (
    %b
      “We/Us/Our”
    ) and You (or any other party authorised by You to use the Service on the Website in accordance with these Terms of Use or as otherwise permitted by Us from time to time) (
    %b
      “You/Your/Yours”
    ). Together in these Terms of Use we are known as “the Parties”.
  %h2
    1. Definitions and Interpretation
  %p
    1.1 In these Terms of Use the following abbreviations, words and phrases shall have the following meanings, unless the context requires otherwise:
  %p
    %b
      “Content”
    means all visual, written or audible data, information or material including any hyperlink, text, image, logo, word, sound avatar, document, spreadsheet, text message, form entry, web page, and any other file or data or any similar material, including each of the foregoing that is uploaded to, transferred through, publicly posted, processed or entered into the Services by You;
  %p
    %b
      “Data”
    means information and data about users or usage of the Busywith.com service;
  %p
    %b
      “Intellectual Property Rights”
    means any copyright, database right, design right, trade mark, service mark, patent, rights in invention, domain name, confidential information, know-how, business name, trade name, get-up, trade dress, right to sue for passing off or for unfair competition, and any other intellectual property rights whether applied for, registered or unregistered and all extensions, renewals and revivals thereof and existing anywhere in the world;
  %p
    %b
      “Services”
    means the provision of the Website and other web services, all Your Workspaces, associated software, and other services related thereto provided to You by Us in accordance with these Terms of Use and with the characteristics and features as described at www.busywith.com from time to time;
  %p
    %b
      “Website”
    means Websites at http://www.busywith.com and any other associated Busywith domains; and
  %p
    %b
      “Workspace”
    means a single service with a defined set of subscription terms and limited group of Users who are authorised to access the service.
  %p
    1.2 In these Terms of Use, unless the context requires otherwise:
  %p
    1.2.1 Any reference to a “person” includes any individual, company, corporation, firm partnership, joint venture, association, organisation or trust (in each case, whether or not having separate legal personality) and references to any of the same shall include a reference to the others;
  %p
    1.2.2 References to any legislation, statute or statutory provisions includes a reference to those provisions as amended or re enacted or as their application is modified by other provisions from time to time and any reference to a statutory provision shall include any subordinate legislation made from time to time under that provision;
  %p
    1.2.3 Any phrase introduced by the words “including”, “include”, “in particular”, “for example” or any similar expression shall be construed as illustrative only and shall not be construed as limiting the generality of any preceding words; and
  %p
    1.2.4 References to the singular include the plural and in each case vice versa.
  %p
    1.3 The headings and sub headings in these Terms of Use are inserted for convenience only and shall not affect the meaning of these Terms of Use.
  %p
    1.4 If You are agreeing to these Terms of Use on behalf of other individual users under your control, You shall procure that such other individuals comply with these Terms of Use and You shall be responsible and liable where such other individual users breach these Terms of Use.
  %h2
    2. Acceptance of Terms
  %p
    By installing, copying or otherwise using the Services, You agree to be bound by the Terms of Use. If You do not agree to be bound by any term or condition contained in these Terms of Use You may not download, order, install, use, or operate the Website or use the Services. If You do not wish to proceed, do not use the Services or the Website. If You proceed to use the Services or the Website and You do not accept the Terms of Use You will be infringing Our Intellectual Property Rights and We reserve the right to take legal proceedings against You for such infringement.
  %h2
    3. Provision of Services and Website
  %p
    3.1 Subject to these Terms of Use, We will provide the Services to You and allow You to access and use the Services solely for the purpose of storing or otherwise using or sharing with other members of Busywith project information and status updates.
  %p
    3.2 Except as otherwise provided in these Terms of Use, You are not given any right, title or interest in or to the Website or the Services, and We expressly reserve all such rights, titles and interests.
  %p
    3.3 The Services will be supplied to You provided that You comply with these Terms of Use and such other rules as, following written notice to You, We may impose from time to time upon use of the Services and of the Website.
  %p
    3.4 The Website and Services provided by Us to You, any copies thereof made by You are and shall remain Our exclusive property.
  %p
    3.5 You shall not do any of the following acts, and any breach of this provision will entitle Us to terminate these Terms of Use immediately, without prejudice to any other rights or remedies We may have against You:
  %p
    a) Distribute, sell, supply, modify, adapt, amend, incorporate, merge, or otherwise alter the Service) Attempt to decompile, reverse engineer or otherwise disassemble any part of the Service or the Website;
  %p
    b) Attempt to copy any software provided to You as part of the Service or the Website and in particular its source code, or attempt to decrypt any part of such software that is provided to You in an encrypted form;
  %p
    c) Create any derivative version of any software provided by Us to You including any translation or localisation of such software, or break down any software into its component parts;
  %p
    d) Redistribute, encumber, sell, rent, lease or otherwise use the Service in a timeshare or service bureau relationship;
  %p
    e) Use any information in Services or the Website for the sending of spam or bulk email messages;
  %p
    3.6 Subject to Your compliance with the obligations set out in these Terms of Use, You may grant other individuals who are members of the Service access to Your Workspaces via an email invitation.
  %h2
    4. Services and Access to Services
  %p
    4.1 We reserve the right to effect modifications to the design, operational method, technical specifications, systems, and other functions of the Services, at any time without prior notice.
  %p
    4.2 The Services are normally available over the Internet on a 24×7 basis. We shall be entitled to take measures that affect the aforementioned accessibility where We deem such measures to be necessary for technical, maintenance, operational, or security reasons. You acknowledge that Your access to the Internet cannot be guaranteed and that We shall not be liable for deficiencies in Your own Internet connections or equipment.
  %p
    4.3 In the event You create a user account using an email address belonging to your employer, such user account may be from time to time or may later become subject to the Terms of Use which Your employer enters into. You are aware of and acknowledge that in such circumstances Your employer may impose access restrictions on Your access to the Services. We will not be liable to You for such lack or curtailment of access.
  %p
    4.4 The Services may contain links to third party websites or software that are not owned or controlled by Us. We will not and cannot censor or edit or control the content of any third-party site. We are not liable for any losses incurred by You during the use of any third party websites or software.
  %p
    4.5 Each time that You use or access the Service, the Website or any part thereof, You are deemed to re-affirm Your acceptance of the then current version of these Terms of Use.
  %h2
    5. Your Obligations
  %p
    5.1 You shall comply with the security and administrative regulations as notified by Us in conjunction with registration, by email or in any other manner from time to time.
  %p
    5.2 You undertake, in conjunction with registration, to provide correct information regarding Your identity and a correct and legitimate email address.
  %p
    5.3 You shall be responsible for the activities conducted through Your use of the Services and shall ensure compliance with national laws in conjunction therewith. All Content uploaded to, transferred through, publicly posted, processed or entered into the Services by You shall be Your sole responsibility.
  %p
    5.4 You are responsible for monitoring Your Workspaces and shall be liable to Us for ensuring that Content transferred to or handled within the Services which is processed by You and/or individuals invited by You to do so does not: (i) infringe any third party rights; (ii) violate any applicable law or regulation; (iii) harm the reputation of a third party; (iv) constitute a dissemination of a business secret or confidential information; (v) incite a third party to commit or participate in a crime; (vi) constitute a threat, abuse or harassment, and that You possess such necessary licences from third parties as may be required in order to process the Content and use the Services. You hereby
    %span.caps
      INDEMNIFY
    Us and keep Us
    %span.caps
      INDEMNIFIED
    against any and all claims, damages, loss, expenses, costs and disbursements suffered by Us as a result of a breach by You (or one of Your personnel) of this clause 5.
  %p
    5.5 You are not permitted use the Services in order to gain material in violation of law, regulation or material which in any manner contravenes generally accepted practices.
  %p
    5.6 You shall not attempt to obtain or compile Data about other user’s usage of the Services, invade the privacy of others, misuse the personal data of others, or otherwise incite a person, persons or body corporate to carry out such acts and You shall not make available libellous, defamatory, abusive, derogatory, inflammatory or obscene Content.
  %p
    5.7 You undertake not to provide access to the Services to anyone else than individuals who have completed the registration form and thereby agreed to the Terms of Use.
  %p
    5.8 You agree not to use or launch any automated system, including “robots”, “spiders” or “offline readers” that access the Services in a manner that sends more request messages to Our servers in a given period of time than a single human can reasonably produce in the same period by using a conventional online web browser. You agree not to collect or harvest any personally identifiable information, including names, from the Services and not to use the Services to contact users other than those in your workspace and who are personally known to you.
  %p
    5.9 In relation to individual users, You agree that in using the Services You will provide a specific named email address for your account that is Your personal, business or company address and is not an email address shared or associated with multiple users or group of people. You agree that only You will access Your account using this email address and that You shall not provide your personal login details to any other person. You agree to only register one email address on the Website and not to have multiple email addresses or accounts registered at any one time.
  %p
    5.10 You agree to pay all fees, usage or subscription costs stated on the Website and incurred through Your use of the Services. In addition to any legal or other measures we may take to recover any monies due to Us, You agree that We may terminate Your access to the Services and these Terms of Use with immediate effect should there be any unpaid fees, usage or subscription costs by You to Us, including monthly or annual subscription fees, telephone or online conferencing services or other recurring or ad-hoc fees.
  %h2
    6.
    %span.caps
      API
    Terms
  %p
    You are granted a limited, non-sublicensable right to access the
    %span.caps
      API
    , the Services and Data for the purpose of enabling you or other users to access the Busywith services via 3rd party software or website. Any use of the
    %span.caps
      API
    , including use of the
    %span.caps
      API
    through a third-party software or website that accesses the Services, is bound by the terms of this agreement plus the following specific terms:
  %p
    6.1 You agree that You are solely responsible for (and that We have no responsibility to You or to any third party for) any services and/or products You provide through any 3rd party software.
  %p
    6.2 You expressly understand and agree that We shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if We has been advised of the possibility of such damages), resulting from your use of the
    %span.caps
      API
    or third-party products that access data via the
    %span.caps
      API
    \.
  %p
    6.3 You will not collect any user’s personal information or data in a misleading, illegal, unauthorised or unfair way. Without limiting the generality of the foregoing, You will never collect, store or record passwords used by users to log-in to the Services. If users need a separate password to use your software You will either (i) automatically generate a unique password and securely communicate it to the user or (ii) not permit users to use a password that is the same as the user’s Busywith Password. You agree that any 3rd party software shall be provided by You in compliance with all applicable laws and regulations (including without limitation those relating to the protection of privacy and the processing of personal data or traffic data).
  %p
    6.4 You will not use the
    %span.caps
      API
    to create software that sends unsolicited communications (whether commercial or otherwise) to any third party.
  %p
    6.5 We reserve the right at any time to modify or discontinue, temporarily or permanently the
    %span.caps
      API
    (or any part thereof) with or without notice.
  %p
    6.6 Abuse or excessively frequent requests to the Services via the
    %span.caps
      API
    may result in the temporary or permanent suspension of your account’s access to the
    %span.caps
      API
    \. We, in our sole discretion, will determine abuse or excessive usage of the
    %span.caps
      API
    \.
  %p
    6.7 We reserve the right at any time to modify or discontinue, temporarily or permanently, your access to the
    %span.caps
      API
    (or any part thereof) with or without notice.
  %p
    6.8 We retain the right to the Services, including the
    %span.caps
      API
    \. In no way will you pass off, market or otherwise make representations that the Busywith brand, Services or Website is owned or otherwise connected with You. You must make it clear that You are allowing access to the Busywith
    %span.caps
      API
    via an independent 3rd party piece of software and must prominently display the following text: “This product uses the Busywith
    %span.caps
      API
    but is not endorsed, certified or otherwise approved in any way by Busywith”. You shall not have any rights to use Busywith trademarks or logos, save for a limited right to display the “Getting Busywith” button on main screen of the software or website that uses the Busywith
    %span.caps
      API
    , as can be seen on the Busywith website and Services. This button must be in the form of a
    %span.caps
      URL
    that links directly back to
    %a{ :href => "http://www.busywith.com/" }
      http://www.busywith.com
    \:
  %p
    \&lt;INSERT BUTTON IMAGE&gt;
  %p
    6.9 Where you are providing access to the Services to users free of charge, Busywith reserves the right to limit your access to the
    %span.caps
      API
    or the number of calls your software can otherwise make to it.
  %p
    6.10 Where you are providing commercial access to the Services or otherwise charging users to access Busywith, We reserve the right to collect a proportion of the revenues generated by You through access to the
    %span.caps
      API
    \.
  %p
    6.11 We reserve the right to make information about any software or website that uses the
    %span.caps
      API
    available to our users on our Website and any other marketing collateral.
  %h2
    7. Notification of Unauthorised Acts
  %p
    7.1 You are obligated to notify Us in writing regarding any actual or perceived breach of these Terms of Use.
  %p
    7.2 In the event that You notify Us in accordance with clause 6.1 above, You shall co-operate fully with Us by providing Us with all information that is reasonably requested by Us from You.
  %h2
    8. Proprietary Rights in Content
  %p
    8.1 Under no circumstances shall You or a third party acquire any Intellectual Property Rights to the Services.
  %p
    8.2 All Content uploaded to, transferred through, publicly posted, processed or entered into the Services by You shall remain Your sole property or that of its respective legal owner. We shall have no liability for such Content. By uploading Content You warrant that You have obtained all necessary licences, permissions, consents and agreements necessary for the lawful use of such Content by Us and by third parties in accordance with these Terms of Use and in order for Us to provide the Services and further You hereby fully
    %span.caps
      INDEMNIFY
    Us and keep Us fully indemnified in relation to any and all claims, damages, loss, expenses, costs and disbursements suffered by Us as a result of a breach by You (or one of your personnel) of the obligations set out in this clause 7.2.
  %h2
    9. Warranties and Disclaimers
  %p
    9.1 We warrant that We shall use reasonable endeavours to ensure that the Services We provide accord with the description of such Services set out on the Website.
  %p
    9.2 Subject to clause 8.1, the Services, Data and the Website are provided to You “as is” and “as available” and could contain defects, faults, mistakes and other deficiencies. We do not guarantee or warrant that the Service and/or the Website will be uninterrupted, error-free or will operate at any particular speed or frequency.
  %p
    9.3 We are under no obligation to provide You with any technical support under these Terms of Use and other than any end-user support agreed in writing between You and Us, and We provide You with no assurance that any specific errors, software bugs, problems, discrepancies or other matters raised by You will be corrected.
  %p
    9.4 We neither endorse nor are We responsible for the accuracy, reliability or veracity of any opinion, advice, or statement provided by another user and We are further not responsible and nor shall You deem Us to be responsible for any defamatory, obscene, abusive, racist, sexist, or other derogatory Content even where such Content is in breach of any rule imposed by Us. We shall not be liable for any loss suffered by You in reliance on any statement, opinion or advice received from the Service and it is entirely incumbent on You to verify the accuracy of such opinion, advice or statement offered or other Content through the Service prior to Your reliance upon it. Wherever possible You ought to obtain the advice of a recognised professional in the relevant field in which the opinion, advice or statement is offered.
  %h2
    10. Limitation of Liability and Risk
  %p
    10.1 The exclusions and limitations on Our liability for the performance of the Services and under these Terms of Use do not apply in the case of: (i) the tort of deceit or fraud; (ii) death or personal injury caused by negligence; (iii) any liability to the extent that the same may not be excluded or limited as a matter of applicable law.
  %p
    10.2 Subject to clause 10.1, We will not be liable, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, under or in connection with these Terms of Use for any indirect, consequential or special loss or damage even if such Party has been advised of the possibility of such loss or damage, or for any loss of profits, loss of sales, loss of business or agreements, loss of goodwill, loss of or wasted management of staff time, loss of use or corruption of software, loss or corruption of data or loss of anticipated savings.
  %p
    10.3 Subject to clause 10.1, Our total maximum liability to You for all claims, actions, proceedings, losses, liabilities or costs (including legal expenses) sustained, incurred or suffered by You arising under or in connection with these Terms of Use, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, shall be limited for all such claims in aggregate to an amount equal to one hundred per cent (100%) of the total fees paid by You to Us under these Terms of Use in the successive twelve (12) month period prior to the most recent claim.
  %h2
    11. Termination
  %p
    11.1 We may terminate these Terms of Use forthwith on giving notice in writing to You if You commit any material breach of any term of these Terms of Use and, in the case of a breach capable of being remedied, You have failed, within 30 days after the receipt of a request in writing from Us to do so, to remedy the breach. This is without prejudice to Our right to terminate these Terms of Use immediately where this is expressly provided. We shall be able to terminate these Terms of Use and Your use of the Service and Website on 30 days notice at any time and in such circumstances We shall refund to You any fees You have paid in advance for Services You have not received from Us.
  %p
    11.2 In the case of monthly subscriptions We will continue to debit your chosen payment method in advance each month by the appropriate amount for your package, until you give us notice at cancellations@busywith.com in writing to terminate the Terms of Use and Your access to the Service. You will only be liable for any outstanding unpaid monthly subscriptions up to that point, no further payments will be due and we will downgrade your account immediately. In the case of annual contracts you may terminate these Terms of Use forthwith on giving notice in writing to Us at cancellations@busywith.com if We commit any material breach of any term of these Terms of Use and, in the case of a breach capable of being remedied, We have failed, within 30 days after the receipt of a request in writing from You to do so, to remedy the breach. Otherwise annual subscriptions shall automatically renew at the end of each 12 month period for a further 12 months, unless you give us notice that you wish the subscription to expire at the end of the initial 12 month period in writing, not less than 30 days before the end of such period.
  %p
    11.3 Save as expressly provided in this clause 11 or elsewhere in these Terms of Use these Terms of Use may not be terminated.
  %p
    11.4 Forthwith upon termination of these Terms of Use, You shall cease all use of the Website and Services and all Content, and We shall cease to have any obligation or responsibility with respect to the Content.
  %p
    11.5 Any termination of these Terms of Use (howsoever occasioned) shall not affect any accrued rights or liabilities of either party nor shall it affect the coming into force or the continuance in force of any provision in these Terms of Use which is expressly or by implication intended to come into or continue in force on or after such termination.
  %h2
    12. Assignment
  %p
    Neither these Terms of Use nor any rights, licences or obligations under it, may be assigned by You. We may assign these Terms of Use or any rights or obligations under it in Our sole discretion.
  %h2
    13. Entire Agreement
  %p
    These Terms of Use supersedes all prior agreements, arrangements and undertakings between the Parties and constitutes the entire agreement between the Parties relating to the subject matter of these Terms of Use. However, the obligations of the Parties under any pre-existing non-disclosure agreement shall remain in full force and effect in so far as there is no conflict between the same. The Parties confirm that they have not entered into these Terms of Use on the basis of any representation that is not expressly incorporated into these Terms of Use.
  %h2
    14. Force Majeure
  %p
    14.1 Neither Party shall have any liability under or be deemed to be in breach of these Terms of Use for any delays or failures in performance of these Terms of Use which result from circumstances beyond the reasonable control of that party. If such circumstances continue for a continuous period of more than 2 weeks, either party may terminate these Terms of Use by written notice to the other party.
  %p
    14.2 Any costs arising from such delay shall be borne by the party incurring the same.
  %h2
    15. Notices
  %p
    Any notice to be given under these Terms of Use shall be via the email address You give to Us or such other working email address for You as You may notify to Us. Any notice given by You to Us shall be to support@busywith.com or such other email address of which We notify You of from time to time.
  %h2
    16. Severance
  %p
    If any provision of these Terms of Use is prohibited by law or judged by a Court to be unlawful, void or unenforceable, the provision shall, to the extent required, be severed from these Terms of Use and rendered ineffective as far as possible without modifying the remaining provisions of these Terms of Use, and shall not in any way affect any other circumstances of or the validity or enforcement of these Terms of Use.
  %h2
    17. Waiver
  %p
    No delay, neglect or forbearance on Our part in enforcing against You any term or condition of these Terms of Use shall either be or be deemed to be a waiver or in any way prejudice any right of Us under these Terms of Use. No right, power or remedy in these Terms of Use conferred upon or reserved for Us is exclusive of any other right, power or remedy available to Us.
  %h2
    18. Third Parties
  %p
    You shall not confer any rights on third parties by virtue of these Terms of Use and accordingly the provisions of the Contracts (Rights of Third Parties) Act 1999 or any similar legislation in any relevant jurisdiction expressly shall not apply to these Terms of Use.
  %h2
    19. Proper Law and Jurisdiction
  %p
    These Terms of Use and all matters arising from it shall be governed by and construed according to the laws of England and Wales and all disputes in relation thereto shall be subject to the exclusive jurisdiction of the Courts of England and Wales.

