%img{:alt=>"busywith.com", :src=>"/images/busywith_logo_smaller.png"}

<<<<<<< HEAD:app/views/welcome/thanks.html.haml
#thanks
  Thanks! We'll be in touch as soon as we're ready for you.
=======
%body{:class => "welcome"}
  #box
    #logo
      %img{:alt=>"busywith.com", :src=>"/images/busywith_logo_smaller.png"}

    #thanks
      Thanks! We'll be in touch as soon as we're ready for you.
    #footer
      (c) Copyright 2009-2010.
      = link_to "blog", "http://blog.busywith.com"

  = javascript_include_tag 'application'
      
  /
    Google Code for notify me Conversion Page
  %script{ :type => "text/javascript" }
    /
      var google_conversion_id = 1031339549;
      var google_conversion_language = "en";
      var google_conversion_format = "1";
      var google_conversion_color = "ffffff";
      var google_conversion_label = "pR3tCPe3wQEQnfzj6wM";
      var google_conversion_value = 0;
      if (0) {
      google_conversion_value = 0;
      }
      \//
  %script{ :src => "http://www.googleadservices.com/pagead/conversion.js", :type => "text/javascript" }
  %noscript
    %div{ :style => "display:inline;" }
      %img{ :src => "http://www.googleadservices.com/pagead/conversion/1031339549/?value=0&amp;label=pR3tCPe3wQEQnfzj6wM&amp;guid=ON&amp;script=0", :height => "1", :alt => "", :width => "1", :style => "border-style:none;" }
>>>>>>> 3170002ff192d0f2f8a887f2c21c99954157121f:app/views/welcome/thanks.html.haml
